*
{
    box-sizing: border-box;
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

body
{
    background-color: #151515;
    color: white;
}

main
{
    margin-inline: auto;
    height: 100%;
    overflow: hidden;
}

.title
{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-inline: auto;
    overflow: hidden;
}

h1
{
    margin: 64px 0;
    margin-top: 100px;
    display: block;
    width: fit-content;
}

.play
{
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: #353535;
    border: 3px solid #353535;
    border-radius: 5px;
    cursor: pointer;
}

.game
{
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   background-size: cover;
   position: relative;
}

.cookie
{
    aspect-ratio: 1/1;
    position: absolute;
    transition: scale 200ms ease-in-out;
    background: url(assets/cookie.png);
    background-size: cover;
}



.hide
{
    width: 0;
    height: 0;
}
